<div class="container">
  <h1 class="text-center mb-4">AI Image Generator</h1>
  
  <!-- Centered form -->
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="rounded p-4 bg-light">
        <!-- Form for input prompt -->
        <form id="generate-form">
          <div class="form-group">
            <label for="prompt" class="mb-2">Enter your prompt:</label> <!-- Added mb-2 class here -->
            <input type="text" class="form-control mb-3" id="prompt" name="prompt" placeholder="E.g., 'A cat playing piano'">
            <!-- Added mb-3 class to input field here -->
          </div>
          
          <div class="d-grid gap-2">
          <!-- Generate Button -->
          <button id="generate_image" type="submit" class="btn btn-primary btn-block">Generate Image</button>		  
          <!-- Display area for generated image -->
		  <div class="mt-4 text-center" id="generated-img">
		    <!-- Image will be displayed here -->
		    <img src=<%= @result %> alt="Generated Image" class="img-fluid">
		  </div>
      	  </div>
        </form>
      </div>
    </div>
  </div>
</div>

